/** HEADER **/
.dotbrand {
    opacity: 1;
	border-radius: 50%;
	border: 1px solid rgb(97 239 97 / 30%);
	width: 8px;
	height: 8px;
	text-align: center;
	position: relative;
	-webkit-animation: anim-glow 2s ease infinite;
			animation: anim-glow 2s ease infinite;
}

.dotbrand i {
	display: block;
    border-radius: 50%;
    border: 3px solid #1cef1c;
    width: 2px;
    height: 2px;
    background-color: #1cef1c;
}


@-webkit-keyframes anim-glow {
	0% {
	  box-shadow: 0 0 #1cef1c;
	}
	100% {
	  box-shadow: 0 0 6px 6px transparent;
	  border-width: 1px;
	}
}

@keyframes anim-glow {
	0% {
	  box-shadow: 0 0 #61ef61;
	}
	100% {
	  box-shadow: 0 0 10px 8px transparent;
	  border-width: 2px;
	}
}


/** CARDER */
.vw > .card {
	padding: 24px;
	border-radius: 15px;
	height: 520px;
	flex: 0 0 auto;
}

.vw > .card:nth-child(1) {
	margin-left: var(--page-margin);
}

.vw > .card.w-4 {
	width: 428px;
}

.vw > .card.w-7 {
	width: 720px;
}

.card.bg-main {
	border: 1px solid rgb(24 32 37 / 30%);
	background-color: rgb(0 0 0 / 15%);
	backdrop-filter: blur(5px);
	transition: .33s;
}

.card.bg-main:hover{
	background-color: rgb(1 11 20 / 10%);
	border: 1px solid rgb(34 170 238 / 20%);
	transform: scale( 1.05);
	transition: .33s;
}

@media only screen and (min-width: 810px) {

}


@media only screen and (min-width: 1280px) {

}

@media only screen and (min-width: 1440px) {
	
}


/** ACTION **/
.btn-act{
	width: 32px;
	height: 32px;
	margin: 0px 5px;
	border: 1px solid rgb(255 255 255 / 30%);
	background: rgb(0 0 0 / 30%);
	border-radius: 9px;
}

.btn-act:hover{
	background: rgb(139 139 151 / 40%);
	transition: 230ms;
}


header .action {
	opacity: 1;
}

/** TOPNAV  */
.menus {
	display: none;
	opacity: 1;
    position: fixed;
    top: 10vh;
    bottom: 10vh;
    right: 0;
    left: 0;
	overflow-y: scroll;
	justify-content: center;
}

.menu-open .menus {
	display: flex;
}

.menus .menubox{
	width: 90%;
	display: grid;
	grid-template-columns: 100%;
}

.menus .navi {
    display: block;
}

.menus .fz-hero {
	font-size: 2.1rem;
}

.menus .mascot{
	display: none;
}

.menus .lining {
	border-bottom: 0;
	color: var(--color-orange );
	width: 150px;
}

.topnav{
	display: grid;
	row-gap: 1rem;
	margin-top: 1.5em;
}

.topnav > a {
	text-decoration: none;
	grid-template-columns: 90px calc( 100% - 90px );
	grid-row-gap: 2rem;
}

.topnav > a .boxicon {
	position: relative;
	width: 60px;
    height: 60px;
}

.topnav > a .ambience{
	position: absolute;
	width: 60px;
    height: 60px;
	border-radius: 50px;
    top: 0;
	opacity: .24;
	filter: blur(24px);
	transform: translateZ(0);
	z-index: -1;
}

.topnav > h3{
	font-size: .9rem;
}


@media only screen and (min-width: 360px) {


	.menus .topnav{
		row-gap: 2rem;
		grid-gap: 2%;
		margin-top: 2em;
	}

	.menus .topnav > h3{
		font-size: 1rem;
	}
}

@media only screen and (min-width: 760px) {

	.menus .mascot{
		display: block;
		-webkit-transform: scaleX(-1);
		transform: scaleX(-1);
		width: 320px;
    	height: auto;
	}

	.menus .navi {
		margin-top: 2rem;
	}

	.menus .gretting {
		text-align: center;
	}

	.menus .lining {
		margin: 5px auto 10px;
	}

	.menus .fz-hero {
		font-size: 2.5rem;
	}

	.menus .fz-task{
		text-align: center;
	}

	.menus .topnav{
		margin-top: 3em;
		grid-template-columns: 50% 50%;
		row-gap: 2.5rem;
	}
}


@media only screen and (min-width: 810px) {

	.menus {
		
	}

	.menus .navi {
		display: grid;
		align-items: center;
	}

	.menus .fz-hero {
		font-size: 2.7rem;
	}

	.menus .topnav{
		margin-top: 3em;
	}

	.menus .topnav > a {
		grid-template-columns: 90px calc( 100% - 90px );
	}

	.menus .topnav > a .boxicon {

	}

	.menus .topnav > a .ambience{

	}

	.menus .topnav > h3{
		
	}
}

@media only screen and (min-width: 960px) {
	
	.menus .lining {
		margin: 5px 0 10px;
	}
}

@media only screen and (min-width: 1280px) {

	.menus {
		top: 10vh;
		bottom: 10vh;
		overflow-y: hidden;
	}

	.menus .menubox{

	}

	.menus .topnav{
		margin-top: 4rem;
		grid-template-columns: 50% 50%;
	}

	.menus .topnav > a {
		grid-template-columns: 90px calc( 100% - 90px );
	}
	
	.menus .topnav > a .boxicon {
		width: 60px;
		height: 60px;
	}

	.menus .topnav > a .ambience{
		width: 60px;
    	height: 60px;
	}

	.menus .topnav > h3{
		font-size: 1.2rem;
	}
}

@media only screen and (min-width: 1440px) {
	
	.menus {
		top: 10vh;
		bottom: 10vh;
	}

	.menus .menubox {
		grid-template-columns: 560px 620px;
		grid-gap: 4rem;
	}

	.menus .topnav{
		margin-top: 2.5em;
		row-gap: 2.5rem;
	}

	.menus .topnav > a {
		grid-template-columns: 90px calc( 100% - 90px );
	}
	
	.menus .topnav >  a .boxicon {
		width: 60px;
		height: 60px;
	}

	.menus .topnav > a .ambience{
		width: 60px;
    	height: 60px;
	}

	.menus .topnav > h3{
		font-size: 1.2rem;
	}
}


/** FOOTER */

footer {
	opacity: 1;
	display: flex;
	padding: 0 var(--page-margin) ;
	align-items: center;
	justify-content: space-between;
}


.socmed .icon {
	width: 18px;
	height: 18px;
	margin-right: 7px;
}

.socmed .name {
	display: none;
}


@media only screen and (min-width: 810px) {

	footer {

	}

	.socmed {
		padding: 0 14px ;
		width: 80px;
	}

	.socmed .name {
		display: block;
		font-size: .825rem;
		padding-left: 7px;
		border-left: 1px solid var(--color-text);
	}
}


@media only screen and (min-width: 1280px) {

}

@media only screen and (min-width: 1440px) {
	
}